body {
    background-color: beige;
    font-family: "Poppins";
}

/* 
###########
Header
########### */

header {
    border-radius: 5px;
    background: linear-gradient(to top, red, rgb(248, 197, 138));
    padding: 10px;
}

/* Menu */

ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.nav1 li {
    padding: 10px 12px;
}

.nav1 li ul {
    display: none;
    position: absolute;
    border-radius: 5px;
    font-size: 0.75rem;
}

.nav1 li:hover>ul {
    display: block;
    background-color: aliceblue;
}

/* shopping-search */

nav>div {
    display: flex;
    justify-content: flex-end;
}

input[list] {
    border-radius: 5px;
    border: 0;
}

.fa-shopping-cart {
    color: rgb(124, 23, 56);
    margin-right: 5px;
}

/* 
###########
Main
########### */

.products img, .carousel img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.carousel {
    display: flex;
    justify-content: center;
}

/* Carousel */

.slider {
    width: 300px;
    text-align: center;
}

.slider>div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
}

.slider>div>a {
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(238, 56, 56);
    color: black;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
}

.slides {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slides>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Produts */

.far {
    display: flex;
    color: red;
}

.products, .far {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.far:hover {
    font-size: 1.5rem;
}

.products>div {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.50);
    margin-top: 50px;
    justify-content: space-between;
}

.products>div span, .products>div p {
    display: flex;
    justify-content: space-between;
}

/* 
###########
Footer
########### */

footer div {
    font-style: normal;
    text-transform: uppercase;
}

footer>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}

.left-container, .rigth-container {
    border-top: solid black 1px;
    flex-basis: 200px;
    flex-grow: 1;
    padding: 50px 25px 0 25px;
}

.rigth-container>span {
    background-color: rgba(53, 47, 41, 0.5);
    border-radius: 10px;
    margin-left: 10px;
    width: 200px;
}

.middel-container {
    margin-bottom: 100px;
}

.middel-container>span {
    display: block;
    text-align: center;
}

.middel-container>hr {
    transform: rotate(90deg);
    position: relative;
    top: 50px;
}

.middel-container > .social-media {
    align-self: flex-end;
}

.social-media {
    font-size: 1.2em;
    color: rgba(53, 47, 41, 0.5);
    text-align: center;
}

.social-media>i {
    transition-duration: 500ms;
}

.social-media>i:hover {
    color: black;
    transition-duration: 500ms;
}