body {
    margin: 0;
}

main {
    display: flex;
}

header, footer {
    background-color: rgb(22, 96, 119);
}

header, footer, header, section {
    padding: 10px;
}

/* Headers */

h1 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-weight: 600;
}

/* Articles */

section {
    display: flex;
}

article {
    padding: 5px;
}

article>hr {
    border-bottom: 0;
    border-top: black solid 2px;
    width: 80%;
}

/* navs */

footer, header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    background-color: brown;
    align-items: center;
    height: 40px;
}

nav>div {
    display: inline;
    padding: 10px;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    height: 40px;
    width: 75px;
}

/* Aside */

aside {
    background-color: rgb(233, 113, 70);
    display: flex;
    flex-flow: wrap;
    padding: 5px;
}

.container1, .container2 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 81, 24);
    margin: 5px;
}

.container1>div, .container2>div {
    width: 100px;
    height: 100px;
}

.img-flex {
    background-color: brown;
    color: aliceblue;
}