body {
    margin: 0;
}

main {
    display: flex;
}

header, footer {
    background-color: rgb(22, 96, 119);
}

header, footer, aside, header, section {
    padding: 10px;
}

/* Headers */

h1 {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-weight: 600;
}

/* Articles */

section {
    display: flex;
}

article>hr {
    border-bottom: 0;
    border-top: black solid;
    width: 80%;
}

/* Navbars */

footer, header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

navbar {
    display: flex;
    background-color: brown;
}

footer>div {
    display: flex;
    align-items: center;
    background-color: coral;
}

/* Aside */

aside {
    background-color: rgb(233, 113, 70);
    display: flex;
    flex-flow: wrap;
}

.container1 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 81, 24);
}

.container2 {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 81, 24);
}

.container1>div {
    width: 100px;
    height: 100px;
}

.container2>div {
    width: 100px;
    height: 100px;
}

.img-flex {
    background-color: brown;
    color: aliceblue;
}