/* Propiedades para todos los contenedores, 
pero sobrescrito por el selector class */

div {
    display: flex;
    background-color: red;
    width: 100px;
    height: 50px;
    align-content: space-around;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    color: aliceblue;
}

/* Propiedades de cada contenedor padre */

.contenedor3, .contenedor2, .contenedor1 {
    background-color: grey;
    width: 600px;
    height: 200px;
    border: solid 5px rgb(146, 226, 146);
}

/* Propiedades individuales para cada caso */

.contenedor1 {
    align-items: flex-end;
}

.contenedor1>div:nth-child(3) {
    align-self: flex-start;
}

.contenedor2 {
    align-items: flex-start;
}

.contenedor2>div:nth-child(3) {
    align-self: center;
}

.contenedor3>div {
    
}

.contenedor3>div:nth-child(1) {
    height: 35%;
}

.contenedor3>div:nth-child(2) {
    height: 75%;
}

.contenedor3>div:nth-child(3) {
    height: 25%;
}

.contenedor3>div:nth-child(4) {
    height: 10%;
}

.contenedor3>div:nth-child(5) {
    height: 100%;
}