.main-container1, .main-container2 {
    display: flex;
    align-items: center;
    justify-items: space-around;
    justify-content: center;
    padding: 10px;
}

.main-container1 {
    background-color: darkgray;
    margin-bottom: 50px;
}

.main-container2 {
    background-color: rgb(51, 180, 137);
}

/* Propiedades de los divs hijos de ambos contenedores principales */

.main-container1>div, .main-container2>div {
    background-color: rgb(230, 148, 118);
    border: 1px solid black;
    height: 5rem;
    flex-basis: 1000px;
}

/* Tamaños divs container 1 */

.main-container1>div {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.main-container1>div:nth-child(1) {
    flex-shrink: 70;
    order: 4;
}

.main-container1>div:nth-child(2) {
    order: 1;
}

.main-container1>div:nth-child(3) {
    order: 2;
}

.main-container1>div:nth-child(4) {
    order: 3;
}

/* Tamaños divs container 2 */

.main-container2>div:nth-child(1) {}

.main-container2>div:nth-child(2) {}

.main-container2>div:nth-child(3) {}