/* Tamaño y color para los dos contenedores principales, añado flex */

.main-container, .main-container2 {
    display: flex;
    background-color: rgb(11, 30, 199);
    height: 300px;
    width: 500px;
}

/* Tamaño y color para los divs hijos, además añado flex para centrar el texto */

.main-container>div, .main-container2>div {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 110, 255);
    color: white;
    border: solid white 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Propiedades flex para los divs del primer contenedor principal */

.main-container {
    align-content: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-bottom: 50px;
}

/* Propiedades flex para los divs del segundo contenedor principal */

.main-container2 {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: space-between;
}
