.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #282c3400;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

.App-button {
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  margin-top: 20px;
}

#progressBar {
  background-color: rgb(126, 126, 126);
  width: 0%;
  height: 50px;
}

.menu-option {
  cursor: pointer;
}

canvas {
  width: 100%;
  position: absolute;
}