.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #282c3400;
}

.App-link {
  color: #61dafb;
}

.App-button {
  font-size: calc(10px + 1vmin);
  cursor: pointer;
  margin-top: 20px;
}