body {
	margin: 0;
	background-color: #282c34;
}

.arcade-font {
	font-family: 'Press Start 2P', cursive;
}

.menu-option {
	cursor: pointer;
}

.default-hidden {
	display: none;
}

canvas {
	width: 100%;
}