.juego{
	width: 20%;
	height: 200px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
}

@each $opcion in rock, paper, scissors { /* Mirar con mapas */		 
	.#{$opcion}-img {			 
		background-image: url('../img/#{$opcion}.png');		
	} 
}

$icons: ("game": "Icon game", "start": "Icon start", "stop": "Icon stop");

@each $name, $desc in $icons {
  .icon-#{$name}:before {
    display: inline-block;
    font-family: "Icon Font";
    content: $desc;
  }
}
