div {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
}

.div-principal {
    width: 650px;
    height: 650px;
}

.primera-fila {
    width: calc(33% - 21px);
    height: 30%;
    float: left;
}

.segunda-fila {
    width: calc(33% - 21px);
    background-color: green;
    height: 30%;
    float: left;
}

.tercera-fila {
    width: calc(33% - 21px);
    background-color: blue;
    height: 30%;
    float: left;
}