div {
    border: solid 1px black
}

.div-principal {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 5px;
}

.primera-fila {
    width: calc(33% - 10px);
    height: 200px;
    margin: 5px;
}

.segunda-fila {
    width: calc(33% - 10px);
    height: 200px;
    background-color: green;
    margin: 5px;
}

.tercera-fila {
    width: calc(33% - 10px);
    height: 200px;
    background-color: blue;
    margin: 5px;
}